body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #c6dcee;
    background: linear-gradient(to left bottom, #c6dcee, #c8bfdd);
}

main {
    color: rgb(25, 2, 48);
}


h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: 0.1rem;
}

p {}

hr {
    border: 0px;
    border-top: 1px solid black;
    opacity: 0.4;
    margin-top: 1.6rem;
}

nav {
    z-index: 2;
    margin-top: 5rem;
    max-width: 70%;
    padding-left: 5rem;
    padding-right: 5rem;
}

.navbar {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}

.navbar-brand {
    font-weight: 700;
    size: 2rem;
    color: aqua;
}

.nav-item {
    margin-left: 2rem;
}

#logo {
    font-weight: 900;
    font-size: 3.5rem;
    color: rgb(83, 158, 255);
    text-shadow: 0px 0px 20px rgba(83, 157, 255, 0.582);
}

.btn-cart {
    background-color: rgb(83, 158, 255);
    color: white;
    border-style: none;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(83, 157, 255, 0.582);
}

.btn-cart:hover {
    border-style: none;
    background-image: linear-gradient(to left bottom, rgb(83, 158, 255), #6dc9ff);
    color: white;
}

.bi-search,
.bi-basket2-fill {
    font-size: 1.4rem;
    color: white;
}


.glass {
    background-color: white;
    min-height: 80vh;
    max-width: 70%;
    /* background: linear-gradient(to right bottom,
            rgba(243, 253, 255, 0.8),
            rgba(243, 248, 255, 0.9));
            backdrop-filter: blur(2rem); */
    z-index: 1;

    position: relative;
    /* margin-top: 100px; */
}



.circle-1,
.circle-2 {
    background: white;
    background: linear-gradient(to right bottom,
            rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.2));
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: 50%;
    filter: blur(2rem);
}

.circle-1 {
    top: 30%;
    right: 15%;
}

.circle-2 {
    bottom: 5%;
    left: 10%;
}

.circle-3 {
    background: rgb(97, 39, 190);
    background: linear-gradient(to right bottom,
            rgba(162, 106, 252, 0.1),
            rgba(250, 190, 255, 0.2));
    height: 30rem;
    width: 30rem;
    position: absolute;
    border-radius: 50%;
    filter: blur(5rem);
    bottom: 55%;
    left: 10%;
}

.circle-4 {
    background: rgb(97, 39, 190);
    background: linear-gradient(to right bottom,
            rgba(173, 255, 244, 0.5),
            rgba(155, 203, 248, 0.3));
    height: 50rem;
    width: 50rem;
    position: absolute;
    border-radius: 50%;
    filter: blur(10rem);
    bottom: -10%;
    left: 40%;
}